<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>
  <connectionStrings>
    <add name="PlaylisterDEV" connectionString="metadata=res://*/PlaylisterDEV.csdl|res://*/PlaylisterDEV.ssdl|res://*/PlaylisterDEV.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tfs.wesleyreisz.com;initial catalog=team1-dev-playLister;persist security info=True;user id=team1;password=password00;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>

<!--Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Playlister.web-20130414161857;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Playlister.web-20130414161857.mdf-->