@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <!--<section class="featured"> -->
        <div class="content-wrapper"> 
            <div class="center">
                <hgroup class="title">
                    <h1>Enjoy Music with Friends</h1>
                </hgroup>
                <img src="~/Images/Blocks2.png" />
                <p>
                    Playlister uses the
                    <a href ="https://developer.spotify.com/technologies/spotify-play-button/" title="Spotify Play Button">Spotify Play Button</a>
                    to allow multiple Spotify members to listen to the same playlist.
                    <a href ="About" title="Learn More"> Learn More</a>
                </p>
            </div>
        </div>
    <!-- </section> -->
}

